body {
    border-left: solid;
    border-width: 5px;
    border-color: lightgrey;
    min-height:100vh;
    font-family: sans-serif;
    max-width: 1000px;
    margin: auto;
}

header {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

main {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

h1 {
    color: tomato;
}

img {
    width: 100%;
}

article {
   

}


.navigationTop {
    display: flex;
    justify-content: space-evenly ;
    list-style-type: none;
}

.navigationBottom {
    list-style-type: none;
    display: flex;
    justify-content: space-evenly ;
}

.top {
    color: lightgray;
}

.bottom {
    color:tomato
}

.title1 {
    font-size: 35px;
}

.title2 {
    font-size: 35px;
}

h3 {
    color: tomato;
    display: flex;
    justify-content: right;
    font: bold;
}