

body{
    min-height: 100%;
    font-family: "Roboto", sans-serif;
    max-width: 1000px;
    margin: auto;
    background-color: rgb(245, 245, 245);
    padding-left: 80px;
    padding-right: 80px;
}
header, main, footer{
    padding-top: 1rem; 
    padding-bottom: 2rem;
}
h1{
    color: tomato;
    font-size: 60px;
}
img{
    width: 100%;
}
ul{
    display: flex;
    padding: 0;
    list-style-type: none;
    justify-content: space-around;
    margin-left: 0px;

}
.main-nav a{
    color: rgb(210, 210, 210);
    font-size: 25px;
    margin-right: 20px;
    
}
.footer-nav a{
    color: tomato;
    text-decoration: none;
    font-size: 20px;
    border-right: 2px solid #ccc;
    padding-right: 7px;

}
.footer-nav:last-child{
    border-right: 0px;

}

h2{
    font-size: 30px;
}
h3{
    color: tomato;
    display: flex;
    justify-content: right;
    font-size: 22px;
}
p{
    font-size: 20px;
    font-weight: 40px;
    color: grey; 
    line-height: 30px; 
    display: inline;
}
.date{
    color: lightgrey;
    font-size: 35px;
}
.line{
    border-bottom: 1px solid #ccc;
    display: block;
    margin-bottom: 50px;
}

.brooklyn{
    font-size: 40px;
}

.might{
    font-size: 100px;
    line-height: 100px;
    font-weight: 900;
    /* position: relative; */
    /* top: 100px; */
    margin-top: 100px;
}


